[Install]
WantedBy=multi-user.target

[Unit]
Description=DDC daemon
Requires=ddcd.socket

[Service]
User=ddcd
Group=nobody
EnvironmentFile=/etc/ddcd.conf
ExecStart=/usr/bin/ddcd
